#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  
}

.parentDiv{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 4rem;
  margin-top: 4rem;
  background-image: linear-gradient(to right, #b3df74,   #25621f);
}

